exportPattern("^[[:alpha:]]+")

importFrom(utils, URLencode)

importFrom(RCurl, getURL)

importFrom(jsonlite, fromJSON)

importFrom(httr, GET, content, add_headers, set_config, write_disk, config)

importFrom(stringr, str_extract_all)

importFrom(openxlsx, read.xlsx)

importFrom(stats, setNames)

export("uri2norm",
       "sparql",
       "search_endpoint",
       "get_ancestors",
       "mapping_atc_db",
       "get_DID", 
       "get_DIKB",
       "NDFRT_CI_with")
